body {margin:0;
	background-color: #4CAF50;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5%;
  z-index: 1;
}

.logo img {
	padding: 5px;
	float: left;
	height: 35px;
	width: auto;}

li {
	position: relative;
	float: left;
		
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 1;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

/* VIDEO */

.video {
	position: relative;
    margin: 100px;
    top: 30%;
    left: 24%;
}

/* MAIN PICTURE */

.mainpic img {
	position: relative;
	bottom: 168vh;
	float: left;
	left: 39vw;
	width: 15vw;
height: auto;}

/* GALLERI 1 */

div.gallery {
	position: relative;
	display: block;
	margin: 50px;
	left: 2vw;
	bottom: 70vh;
	width: 180px
	}

/* GALLERI 2 */

div.gallery2 {
	position: relative;
	display: block;
	margin: 50px;
	bottom: 150vh;
	left: 71vw;
	width: 180px;
}

div.gallery3 {
	position: relative;
	bottom: 168vh;
	float: left;
	left: 30vw;
	height: 100px;
	width: auto;
}


div.gallery img {
  width: 20vw;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}


div.gallery2 img {
  width: 20vw;
  height: auto;
}

div.gallery3 img {
  width: 15vw;
  height: 18vh;
}

div.mainpic img {
  width: 15vw;
  height: 18vh;
}

